<app-nav></app-nav>
<div class="page">
  <h3 class="pageheader text-center"> TOP RATED MOVIES </h3>
  <div class="pagecontent w-100 padding50">
    <div class="draggable-list shadow-lg p-3 mb-5 bg-white rounded w-100">
      <div class="movie-tab w-100 row" *ngFor="let movie of movies">
        <div class="col col-2"><img class="poster" [src]="movie.Poster"/></div>
        <div class="col">
            <h4 class="movie-title">{{movie.Title}}&nbsp;&nbsp;&nbsp;&nbsp;<small>({{movie.year}})</small></h4>
            <small>
              <span *ngIf="movie.rated" class="text-danger">{{ movie.rated}} </span> | 
              <span *ngIf="movie.runtime" class="text-danger">{{ movie.runtime}} min </span> | 
              <span class="text-danger" *ngFor="let g of movie.genres; last as isLast">{{g}} <span *ngIf="!isLast">, </span></span> 
            </small>
            <p></p>
            <span *ngIf="movie.plot"><p>{{movie.plot}}</p></span>
            <div *ngIf="movie.actors.length > 0">
              <span>Cast : </span>
              <span *ngFor="let actor of movie.actors; last as isLast">{{actor}}<span *ngIf="!isLast">, </span></span>
            </div>
            <br>
            <div *ngIf="movie.awards">
                <span><i class="fas fa-trophy text-secondary"></i></span>&nbsp;&nbsp;&nbsp;
                <span>{{movie.awards.text}}</span>
            </div>
        </div>
        <div class="col col-3">
          <div class="row">
            <button class="btn btn-info savebutton"  (click)="movieDetails(movie)"> View Details </button>
            <button class="btn btn-warning savebutton"  *ngIf="!canPlay(movie)" (click)="addToPlayList(movie)"> Get Premium </button>
            <button class="btn btn-info savebutton"  *ngIf="canPlay(movie) && !checkMovieInCart(movie)" (click)="addToPlayList(movie)"> Add To Playlist </button>
            <button class="btn btn-info savebutton"  *ngIf="canPlay(movie) && checkMovieInCart(movie)" (click)="play()"> Play </button>
          </div>
          <div *ngIf="movie.imdb && movie.imdb.rating" class="ratings"><i class="far fa-star text-danger"></i> IMDB - {{movie.imdb.rating}}</div>
          <div *ngIf="movie.metacritic" class="ratings"><i class="far fa-star text-danger"></i> Critic - {{movie.metacritic}}</div>
          <div *ngIf="movie.tomato && movie.tomato.rating" class="ratings"><i class="far fa-star text-danger"></i> Tomato - {{movie.tomato.rating}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
