a{
  color: lightskyblue !important;
  &:focus,&:active{
    color: white !important;
  }
  &:hover{
    color: white !important;
  }
}

.container-fluid{
  padding: 0px;
}
#user-profile, #sign-out, path{
      cursor: pointer;
      font-size: 2.0em;
      color: lightskyblue;
      margin-left: 10px;
      :hover{
        font-size: 2.2em;
        color: yellow;
      }
      :focus{
        font-size: 2.2em;
        color: white;
      }
}
