<app-nav>
</app-nav>
<div class="container-fluid" id="home-container">

  <!-- <h1 class="text-center w-100">SEARCH MOVIES</h1> -->
  <div id="search-div-id" class="d-flex justify-content-center">
    <form id="search-form" [formGroup]="searchForm" class="form-inline" novalidate>
      <input class="form-control mr-sm-2" type="search" formControlName="search_input" #search_input
        placeholder="Titles, actors, genres" aria-label="Search">
      <button (click)="onSubmit(search_input.value)" class="btn btn-outline-success my-2 my-sm-0"
        type="submit">Search</button>
    </form>
  </div>
  <div id="radio-div-id" class="d-flex justify-content-center">
    <div class="btn-group btn-group-toggle">
      <label class="btn btn-outline-info" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.genre"> Genre
      </label>
      <label class="btn btn-outline-info" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.title"> Title
      </label>
      <label class="btn btn-outline-info" ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="model.director"> Director
      </label>
    </div>
  </div>
  <div id="home-container-movies" *ngIf="!isSearched">
    <div *ngIf="!loadComplete" class="text-center">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="overflow-visible" *ngFor="let genreMovies of moviesActual | keyvalue;last as isLast;">
      <h3 class="w-100 absolute">{{genreMovies.key}}</h3>
      <div class="justify-content-center pad-100 movies-list-div">
        <div class="card bg-dark text-white height-272" *ngFor="let movie of genreMovies.value">
          <button *ngIf="!isLast" class="no-margin-padding" [popoverTitle]="popTitle" type="button" placement="top"
            [ngbPopover]="popContent" popoverClass="my-custom-class">
            <img class="card-img bg-dark" [src]="movie.Poster" [alt]="movie.Title">
          </button>
          <button *ngIf="isLast" class="no-margin-padding" [popoverTitle]="popTitle" type="button" placement="top"
            [ngbPopover]="popContent" popoverClass="my-custom-class">
            <img class="card-img bg-dark" [src]="movie.Poster" onerror="this.src='../resources/images/none.jpg'"
              [alt]="movie.Title">
          </button>
          <ng-template #popContent>
            <table class="popover-table">
              <tr>
                <th class="text-center" colspan="2"><b>{{movie.Title}}</b></th>
              </tr>
              <tr>
                <td>{{movie.plot}}!!</td>
                <td class="align-top">
                  <button class="btn btn-warning savebutton" *ngIf="!canPlay(movie)" data-toggle="modal"
                    data-target="#getPremiumModal">
                    Get Premium </button>
                  <button class="btn btn-info savebutton playlist-btn" *ngIf="canPlay(movie) && !checkMovieInCart(movie)"
                    (click)="addToPlayList(movie)" data-toggle="modal" [attr.data-target]="user.cart.length>=5?'#cannotAddToPlaylistModal':null">
                    Add To Playlist <i class="far fa-plus-square fa-lg"></i> </button>
                    <button class="btn btn-info savebutton" *ngIf="canPlay(movie) && checkMovieInCart(movie)" (click)="loadPlayer()" data-toggle="modal" data-target="#exampleModalCenter">
                        Play <i class="far fa-play-circle fa-lg"></i></button>
                  <!-- <button *ngIf="addedInPlayList" type="button" class="btn btn-outline-info">
                    Add To Playlist
                    <i class="far fa-plus-square fa-lg"></i>
                  </button>
                  <button *ngIf="!addedInPlayList" type="button" class="btn btn-outline-info">
                    Play
                    <i class="far fa-play-circle fa-lg"></i>
                  </button> -->
                  <button type="button" class="btn btn-outline-info" (click)="movieDetails(movie)">
                    Details
                    <i class="fas fa-external-link-square-alt fa-lg"></i>
                  </button>
                </td>
              </tr>
            </table>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isSearched">
    <h3 class="w-100">SEARCH RESULTS</h3>
    <div *ngIf="!searchFinished && isSearched" class="text-center">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <h4 *ngIf="searchFinished && moviesSearched.length == 0" class="w-100 text-center text-info">Sorry!!! we could not find any content for this search...</h4>
    <div id="search-container" class="d-flex justify-content-center pad-100">
      <div class="card  card-search bg-dark text-white" *ngFor="let movie of moviesSearched">
        <button *ngIf="!isLast" class="no-margin-padding" [popoverTitle]="popTitle" type="button" placement="top"
          [ngbPopover]="popContent" popoverClass="my-custom-class">
          <img class="card-img bg-dark" [src]="movie.Poster" [alt]="movie.Title">
        </button>
        <button *ngIf="isLast" class="no-margin-padding" [popoverTitle]="popTitle" type="button" placement="top"
          [ngbPopover]="popContent" popoverClass="my-custom-class">
          <img class="card-img bg-dark" [src]="movie.Poster" [alt]="movie.Title">
        </button>
        <ng-template #popContent>
          <table class="popover-table">
            <tr>
              <th class="text-center" colspan="2"><b>{{movie.Title}}</b></th>
            </tr>
            <tr>
              <td>{{movie.plot}}!!</td>
              <td class="align-top">
                <button type="button" class="btn btn-warning savebutton" data-toggle="modal"
                  data-target="#getPremiumModal" *ngIf="!canPlay(movie)"> Get
                  Premium </button>
                <button class="btn btn-info savebutton playlist-btn" *ngIf="canPlay(movie) && !checkMovieInCart(movie)"
                  (click)="addToPlayList(movie)" data-toggle="modal" [attr.data-target]="user.cart.length>=5?'#cannotAddToPlaylistModal':null">
                  Add To Playlist <i class="far fa-plus-square fa-lg"></i> </button>
                <button class="btn btn-info savebutton" *ngIf="canPlay(movie) && checkMovieInCart(movie)" data-toggle="modal" data-target="#exampleModalCenter">
                  Play <i class="far fa-play-circle fa-lg"></i></button>
                 <!--  <button type="button" class="btn btn-primary" >
                      Launch demo modal
                    </button> -->
                <!-- <button *ngIf="addedInPlayList" type="button" class="btn btn-outline-info">
                  Add To Playlist
                  <i class="far fa-plus-square fa-lg"></i>
                </button>
                <button *ngIf="!addedInPlayList" type="button" class="btn btn-outline-info">
                  Play
                  <i class="far fa-play-circle fa-lg"></i>
                </button> -->
                <button type="button" class="btn btn-outline-info" (click)="movieDetails(movie)">
                  Details
                  <i class="fas fa-external-link-square-alt fa-lg"></i>
                </button>
              </td>
            </tr>
          </table>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="getPremiumModal" tabindex="-1" role="dialog" aria-labelledby="getPremiumModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="getPremiumModalTitle">Get Premium</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger"> Your card will be charged 50$.</span> As a premium member you will get access to all
        our movies.
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="makeUserPremium()">Make
          Payment</button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <youtube-player
            [videoId]="id"
          [width] = 460
            (ready)="savePlayer($event)"
            (change)="onStateChange($event)"
            [playerVars]="playerVars">
          </youtube-player>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click) ="pauseVideo()" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    
  <!-- Modal -->
  <div class="modal fade" id="cannotAddToPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="cannotAddToPlaylistTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="cannotAddToPlaylistTitle">Playlist limit exceeded</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger"> You have reached your playlist capacity. Please remove before adding new movies</span> 
      </div>
    </div>
  </div>
</div>
