.container-fluid{
    background: #141414;

    #search-container
    {
        flex-wrap: wrap;
    }

    #search-div-id{
        padding-bottom: 10px;
        padding-top: 20px;
    }

    img:hover {
            box-shadow: 3px 3px 71px 15px dimgrey;
            /* opacity: 0.6;
            filter: alpha(opacity=50);  */
    }

    img{
        min-width: 175px;
        max-height: 272px;
        max-width: 175px;
        min-height: 272px;
    }

    #radio-div-id{
        label{
            margin-left: 25px;
        }
        padding-bottom:40px;
    }
}

div{
    .card{
        margin-right: 25px ;
    }

    .card-search{
        margin-top:35px;
        margin-bottom:35px;
    }

    h1{
        color:white;
        
    }

    h3{
        color:white;
        padding-top:35px;
        padding-bottom:35px;
    }
}

.no-margin-padding{
    padding: 0px;
    margin:0px;
    border: 0;
    cursor: pointer;
    color: black;
}

.popTitle{
    color: black;
}

/* .pad-100{
    padding-left: 100px;
    padding-right: 100px;
} */

#search-form {
    margin-top: 150px;
    margin-right: 7px !important;
    input {
        height: 50px;
        width: 600px !important;
    }    
    button{
        height: 50px;
   
    
    }
}

.popover-table{
    button{
        width: 150px;
        height: 30px;
        margin-bottom: 5px;
        padding-top: 2px;
    }
    th{
        text-decoration: underline;
        text-transform: uppercase;
    }
}

#home-container-movies{
    position: relative;
    .overflow-visible {
        width: 100%;
        height: 400px;
        overflow: hidden !important;
        margin-right:100px; 
        bottom: 0;
        position: relative;
    }

    .absolute{
        position: absolute;
        left: 0;
    }
}

#home-container-movies .movies-list-div{
    max-width: 100%;
    margin-right: 100px;
    margin-left: 100px;
    padding-top:100px;
    overflow-x: scroll;
    display: -webkit-box!important;
    bottom: 0;
        position: absolute;
    height: 100%;
}

.align-top{
    vertical-align: text-top;
}

.height-272{
    height: 272px;
}

.spinner-border{
    height: 10rem;
    width: 10rem;
}

.playlist-btn{
    padding: 0;
}