.container-fluid{
    background: black;

    #search-div-id{
        padding-bottom: 10px;
        padding-top: 20px;
    }

    img:hover {
            box-shadow: 3px 3px 25px 12px darkseagreen;
            /* opacity: 0.6;
            filter: alpha(opacity=50);  */
    }

    #radio-div-id{
        label{
            margin-left: 25px;
        }
        padding-bottom:40px;
    }
}

div{
    .card{
        margin-right: 25px;
    }
    h1{
        color:white;
        
    }

    h3{
        color:white;
        padding-top:35px;
        padding-bottom:35px;
    }
}

.no-margin-padding{
    padding: 0px;
    margin:0px;
    border: 0;
    cursor: pointer;
    color: black;
}

.popTitle{
    color: black;
}

.pad-100{
    padding-left: 100px;
    padding-right: 100px;
}

#search-form {
    margin-top: 150px;
    margin-right: 7px !important;
    input {
        height: 50px;
        width: 600px !important;
    }    
    button{
        height: 50px;
   
    
    }
}

.popover-table{
    button{
        width: 150px;
        height: 30px;
        margin-bottom: 5px;
        padding-top: 2px;
    }
    th{
        text-decoration: underline;
        text-transform: uppercase;
    }
}