<app-nav>
</app-nav>
<div class="page">
    <!-- <h3 class="pageheader text-center"> {{movie.Title}} </h3> -->
    <div class="pagecontent w-100 padding50">
        <div class="movie-tab w-100 row">
          <div class="col">
            <br>
            <h3 class="movie-title">{{movie.Title}}&nbsp;&nbsp;&nbsp;&nbsp;<small>({{movie.year}})</small></h3>
            <p>&nbsp;&nbsp;
              <span *ngIf="movie.rated" class="text-secondary">{{ movie.rated}} </span> | 
              <span *ngIf="movie.runtime" class="text-secondary">{{ movie.runtime}} min </span> </p>
            <br>
            <span *ngIf="movie.plot" ><p>{{movie.plot}}</p></span>
            <span *ngIf="movie.imdb" ><p>
              <i class="fas fa-star text-danger" *ngFor="let i of [].constructor(stars)"></i>
              {{movie.imdb.rating}} ({{movie.imdb.votes}} reviews)
            </p></span>
            <div *ngIf="movie.tomato" class="bg-light padding20">
                <div *ngIf="movie.tomato.consensus" > <em> {{ movie.tomato.consensus}} - <strong>Tomato Consensus</strong> </em> </div>
                <div *ngIf="movie.tomato.userMeter" > <strong>User Meter :</strong> {{ movie.tomato.userMeter}} </div>
                <div *ngIf="movie.tomato.userRating" > <strong>User Rating :</strong> {{ movie.tomato.userRating}} </div>
                <div *ngIf="movie.metacritic" > <strong>Metacritic :</strong> {{movie.metacritic}}</div>
            </div>
            <br>
            <div *ngIf="movie.genres">
                <span class="text-primary">Genres : </span>
                <span *ngFor="let g of movie.genres; last as isLast">{{g}} <span *ngIf="!isLast">, </span></span>
            </div>
            <div *ngIf="movie.actors">
              <span class="text-primary">Cast : </span>
              <span *ngFor="let actor of movie.actors; last as isLast">{{actor}}<span *ngIf="!isLast">, </span></span>
            </div>
            <div *ngIf="movie.director">
                <span class="text-primary">Directors : </span>
                <span>{{movie.director}}</span>
            </div>
            <div *ngIf="movie.writers">
                <span class="text-primary">Writers : </span>
                <span *ngFor="let actor of movie.writers; last as isLast">{{actor}}<span *ngIf="!isLast">, </span></span>
            </div>
            <br>
            <div *ngIf="movie.awards">
                <span><i class="fas fa-trophy text-secondary"></i></span>&nbsp;&nbsp;&nbsp;
                <span>{{movie.awards.text}}</span>
            </div>
            <br>
            <button class="btn btn-warning "  *ngIf="!canPlay(movie)" (click)="getPremium()"> Get Premium </button>
            <button class="btn btn-info "  *ngIf="canPlay(movie) && !alreadyInCart(movie)" (click)="addToPlayList(movie)" data-toggle="modal" [attr.data-target]="user.cart.length>=5?'#cannotAddToPlaylistModal':null"> Add To Playlist </button>
            <button class="btn btn-info "  *ngIf="canPlay(movie) && alreadyInCart(movie)" data-toggle="modal" data-target="#exampleModalCenter"> Play </button>
          </div>
          <div class="col col-4">
              <img class="poster" [src]="movie.Poster"/>
          </div>
        </div>
        <br>
        <div class="similar-tab w-100 row">
            <p class="row w-100 text-left"> Similar movies you might like</p>
            <br>
            <div class="sim-div text-left row">
              <div class="poster-div" *ngFor="let simMovie of similar">
                <img class="similar-poster" [src]="simMovie.Poster" (click)="movieDetails(simMovie)"/>
              </div>
            </div>
        </div>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <youtube-player
              [videoId]="id"
            [width] = 460
              (ready)="savePlayer($event)"
              (change)="onStateChange($event)"
              [playerVars]="playerVars">
            </youtube-player>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click) ="pauseVideo()" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

        
  <!-- Modal -->
  <div class="modal fade" id="cannotAddToPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="cannotAddToPlaylistTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-warning" id="cannotAddToPlaylistTitle">Playlist limit exceeded</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="text-danger"> You have reached your playlist capacity. Please remove before adding new movies</span> 
      </div>
    </div>
  </div>
</div>